<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:annotation-config />
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:component-scan base-package="com.tmall"></context:component-scan>
	<bean id="MyDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/tmall"></property>
		<property name="username" value="root"></property>
		<property name="password" value="111111"></property>
		<property name="defaultTransactionIsolation" value="2"></property>
	</bean>
  
 
	<!-- 懒加载 
  <bean id="openSessionInView" class="org.springframework.orm.hibernate5.support.OpenSessionInViewInterceptor">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>-->
	<!--  在spring中配置Hibernate  -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="MyDataSource" />
		<!-- <property name="annotatedClasses"> <list> <value>com.bjsxt.modal.User</value> 
			<value>com.bjsxt.modal.Log</value> </list> </property> -->
		<!-- 扫描指定包下的实体类 -->
		<property name="packagesToScan">
			<list>
				<value>com.tmall.model</value>
				<value>com.tmall.vo</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
			<!-- <value> hibernate.dialect=org.hibernate.dialect.HSQLDialect </value> -->
		</property>
	</bean>
	 <!-- 事务配置 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<aop:config>
		<aop:pointcut expression="execution(public * com.tmall.service..*.*(..))" id="bussinessService"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bussinessService"/>
	</aop:config>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="user*" read-only="true"/>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="test*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- more bean definitions go here -->
</beans>