@CHARSET "UTF-8";
a{
	color:#999;
}
a:hover {
	text-decoration: none;
	color: #C40000;
}
body{
    font-size:12px;
    font-family:Arial;
}
nav#top{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7e7e7;
	margin-left: 350px;
	margin-right: 350px;
}
.redColor{
    color: #C40000 !important;
}
nav#top span, nav#top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
nav#top a:hover{
    color: #C40000;
}
#searchDiv{
	background-color: #C40000;
	width: 400px;
	margin: 50px auto;
	padding: 1px;
	height: 40px;
    display: block;
}
#searchDiv input{
	width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline:none;
}
#searchDiv button{
	width: 110px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
#searchBelow span{
    color: #999;
}
#searchBelow a{
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}
#logo{
    position: absolute;
    left: 0px;
    top: 30px;
}
#simpleSearchDiv{
	background-color: #C40000;
	width: 300px;
	margin: 10px 20px 40px;
	padding: 1px;
	height: 40px;
    display: block;
}
#simpleSearchDiv input{
	width: 225px;
    border: 1px solid transparent;
    height: 34px;
    margin: 2px 1px 1px 2px;
    outline:none;
}
#simpleSearchDiv button{
	width: 60px;
	border: 1px solid transparent;
	background-color: #C40000;
	color:white;
	font-size: 14px;
}
#plainLogo{
	position: absolute;
	top: 50px;
	width: 140px;
}
.footer{
	margin: 0px 0px;
	border-top:1px solid #e7e7e7;
}
#footerEnsure{
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}
#footer_desc{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7e7e7;
	padding-top: 30px;
	margin:0px 20px;
}
.descColumn{
	width: 20%;
	float: left;
	padding-left: 15px;
}
.descColumnTitle{
	color: #646464;
	font-weight: bold;
	font-size: 16px;
}
#footer_desc a{
	display:block;/*设置成块级元素达到换行效果*/
	padding-top: 3px;
}
#copyright{
	background-color: black;
	border-top: 2px solid #C40000;
}
#copyright span.slash{
	color:white;
}
.whiteLink a{
	color: white;
	padding: 0px 5px;
}
.whiteLink{
	padding:10px 0px;
	margin-left: 10px;
}
#license{
	margin-left: 10px;
	padding-bottom: 30px;
}
#license span{
	color:#A4A4A4;
}
#copyRightYear{
	margin: 10px 0px;
	color: #686868;
}
#cateye{
	margin-left: 20px;
}
#categoryWithCarousel{
	width: 100%;
}
.headbar{
	background-color: #DD2727;
}
#head{
	width: 200px;
	background-color: #C60A0A;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin-left: 380px;
	display: inline-block;
}
#rightMenu{
	display: inline-block;
}
#rightMenu a{
	font-size: 16px;
	color: white;
	text-decoration: none;
}
#rightMenu span{
	margin: 0px 20px 0px 20px;
}
#rightMenu img{
	height: 30px;
}
#carousel-of-product{
	background-color:#ceced0;
	max-width: 100%;
	height: 510px;
}
.carouselImage{
	height: 510px !important;
}
.item{
	margin-left:400px;
}
#categoryMenu{
	width: 200px;
    background-color: #e2e2e3;
    margin-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#categoryMenu a{
    color: #000;
}
#categoryMenu a:hover{
    color: lightskyblue;
    text-decoration: none;
}
div.productsAsideCategorys{
    width: 800px;
    height: 510px;
    background-color: white;
    margin-left: 580px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
div#row{
	margin: 10px 80px 0px 80px;
	line-height: 20px;
}
.seperator{
	margin-top: 20px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}
.productsAsideCategorys a{
    color: #999;
    font-size: 14px;
    margin: 8px;
}
.productsAsideCategorys a:hover{
    color: #C40000;
    text-decoration: none;
}
.eachCategory{
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}
.eachCategory span{
    margin-right: 10px;
}
.eachCategory:hover{
    background-color: white;
}
div.homepageCategoryProducts{
    background-color: #F5F5F5;
    padding: 50px 10px 50px 10px;
    margin: 10px auto;
    max-width: 1013px;
}
div.productItem{
    width: 189px;
    height: 285px;
    border: 1px solid white;
    background-color: white;
    margin: 8px 4px;
    float: left;
    cursor: pointer;
}
div.productItem span.productItemDesc{
    font-size: 12px;
    color: #666666;
    display: block;
    padding: 16px;
}
div.productItem span.productPrice{
    font-size: 16px;
    color: #FF003A;
    display: block;
    padding-left: 16px;
    margin-top: -10px;
}
div.productItem img{
    width: 187px;
    height: 190px;
}
div.productItem  img:hover{
    opacity: 0.7;
    filter: alpha(opacity = 70);
}
div.eachHomepageCategoryProducts{
    margin: 0px 0px 40px 0px;
}
a.productItemDescLink{
    display: inline-block;
    height: 66px;
    text-decoration:none;
}
span.categoryTitle{
    font-size: 16px;
    margin-left: 30px;
    color: #646464;
    font-weight: bold;
}
div.left-mark{
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 5px;
    background-color: #19C8A9;
}
img.endpng{
    display: block;
    width: 82px;
    margin: 0 auto;
}
img.catear {
    position: absolute;
    height: 15px;
    display: none;
}
div.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.categorySortBar{
    background-color: #FAF9F9;
    margin: 40px 20px 20px 20px;
    padding: 4px;
}
table.categorySortBarTable{
    border-collapse: collapse;
    display:inline-block;
}
table.categorySortBarTable span.glyphicon{
    font-size: 10px;
}
table.categorySortBarTable td{
    height:17px;
    font-size:12px;
    border:1px solid #CCCCCC;
    padding:3px;
}
table.categorySortBarTable td.grayColumn{
    background-color: #F1EDEC;
}
table.categorySortBarTable td a{
    color: #806F66;
}
table.categorySortBarTable td a:hover{
    color: #C40000;
}
table.categorySortBarTable input{
    border-width: 0px;
    height: 15px;
    width: 50px;
}
table.categorySortBarTable td.priceMiddleColumn{
    width: 5px;
    vertical-align: middle;
    color: #CCCCCC;
}
table.categorySortTable td:hover{
    background-color: #F1EDEC;
}
div.categoryProducts{
    padding: 0px 20px 40px 20px;
}
div.productUnit{
    width: 225px;
    height: 338px;
    border: 3px solid #fff;
    background-color: white;
    margin: 12px 5px;
    float: left;
}
div.productUnit:hover{
    border:3px solid #C40000;
}
div.productUnitFrame{
    border:1px solid #eee;
    height:100%;
}
div.productUnitFrame:hover{
    border:1px solid #C40000;
}
div.productUnit img.productImage{
    width: 100%;
    height: 190px;
}
div.productUnit span.productPrice{
    font-size: 20px;
    color: #CC0000;
    display: block;
    padding-left: 4px;
}
div.productUnit a.productLink{
    margin: 10px 0px;
    color: #333333;
    display: block;
    height:34px;
}
div.productUnit a.productLink:hover{
    text-decoration: underline;
    color: #C40000;
}
div.productUnit a.tmallLink{
    margin: 10px 0px;
    color: #999999;
    display:block;
    text-decoration: underline;
}
div.productUnit a.tmallLink:hover{
    text-decoration: underline;
    color: #C40000;
}
div.productUnit div.productInfo{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    color:#999999;
}
div.productUnit span.productDealNumber{
    font-weight: bold;
    color: #B57C5B;
}
div.productUnit span.productReview{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #EEEEEE;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EEEEEE;
}
div.productUnit span.productReviewNumber{
    font-weight: bold;
    color: #3388BB;
}
div.productUnit span.monthDeal, div.productUnit span.productReview{
    display: inline-block;
    width: 90px;
    height:29px;
    padding-top: 5px;
    padding-left: 5px;
}
div.productUnit span.wangwang{
    padding-left: 3px;
}
.imgAndInfo{
    margin: 40px auto;
    width: 1200px;
}
.imgInimgAndInfo{
    width: 400px;
    float: left;
}
.bigImg{
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #F2F2F2;
}
.smallImageDiv{
    width: 80%;
    margin: 20px auto;
}
.smallImage{
    width: 60px;
    height: 60px;
    border: 2px solid white;
}
.smallImage:hover{
    border: 2px solid black;
}
div.infoInimgAndInfo{
    padding: 0px 20px;
    overflow: hidden;
}
div.infoInimgAndInfo div.productTitle{
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
}
div.infoInimgAndInfo div.productSubTitle{
    color: #DD2727;
    font-size: 12px;
    margin: 0px 10px;
}
div.infoInimgAndInfo div.juhuasuan{
    background-color: #2DA77A;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}
div.infoInimgAndInfo span.juhuasuanBig{
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
}
div.infoInimgAndInfo span.juhuasuanTime{
    color: #FFC057;
    font-weight: bold;
}
div.infoInimgAndInfo div.productPriceDiv{
    background-image:url(FountModule/img/site/priceBackground.png);
    height: 102px;
    padding: 10px;
    color: #666666;
}
div.infoInimgAndInfo div.gouwujuanDiv{
    margin-top: 5px;
}
div.infoInimgAndInfo div.originalDiv{
    margin-top: 5px;
}
div.infoInimgAndInfo span.originalPriceDesc{
    color: #999999;
    display: inline-block;
    width: 68px;
}
div.infoInimgAndInfo span.originalPrice{
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    text-decoration: line-through;
}
div.infoInimgAndInfo span.promotionPriceYuan{
    font-family: Arial;
    font-size: 18px;
    color: #C40000;
}
div.infoInimgAndInfo span.promotionPrice{
    color: #c40000;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}
div.infoInimgAndInfo span.promotionPriceDesc{
    color: #999999;
    display: inline-block;
    width: 68px;
    position: relative;
    left: 0px;
    top: -10px;
}
div.infoInimgAndInfo div.productSaleAndReviewNumber{
    margin: 20px 0px;
    border-top-style: dotted;
    border-top-color: #C9C9C9;
    border-top-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #C9C9C9;
    border-bottom-width: 1px;
    padding: 10px;
}
div.infoInimgAndInfo div.productSaleAndReviewNumber div{
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #999999;
    font-size: 12px;
}
div.infoInimgAndInfo div.productSaleAndReviewNumber div:first-child{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E5DFDA;
}
div.infoInimgAndInfo div.productNumber{
    color: #999999;
}
div.infoInimgAndInfo span.productNumberSettingSpan{
    border: 1px solid #999;
    display: inline-block;
    width: 43px;
    height: 32px;
    padding-top:7px;
}
div.infoInimgAndInfo input.productNumberSetting{
    border: 0px;
    height: 80%;
    width: 80%;
}
div.productNumber span.updown img{
    display:inline-block;
    vertical-align:top;
}
div.productNumber span.updown{
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 14px;
    text-align: center;
    padding-top:4px;
}
div.productNumber span.updownMiddle{
    height: 4px;
    display: block;
}
div.productNumber span.arrow{
    display: inline-block;
    width: 22px;
    height: 32px;
    vertical-align:top;
}
div.serviceCommitment{
    margin: 20px 0px;
}
div.infoInimgAndInfo span.serviceCommitmentDesc{
    color: #999999;
}
div.infoInimgAndInfo span.serviceCommitmentLink a{
    color: #666666;
}
div.buyDiv{
    margin: 20px auto;
    text-align: center;
}
div.buyDiv button{
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}
button.buyButton{
    border: 1px solid #C40000;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #C40000;
    font-family: arial;
}
button.addCartButton{
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: arial;
}
button.addCartButton span.glyphicon{
    font-size: 12px;
    margin-right: 8px;
}
div.productDetailDiv{
    width: 790px;
    margin: 40px auto;
}
div.productDetailTopPart{
    border: 1px solid #DFDFDF;
    border-left-width: 0px;
}
a.selected{
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #b10000;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 90px;
    text-align: center;
    position: relative;
}
a.selected:before{
    border-color: #b00000;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: block;
    width: 90px;
    height: 0;
    position: absolute;
    top: -1px;
    margin-left: -1px;
}
a.selected:after{
    border-color: #b00000 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -5px;
}
a.productDetailTopReviewLink{
    padding: 0px 20px;
    border-right: 1px dotted #D2D2D2;
    color: #333333;
}
div.productReviewDiv{
    width: 790px;
    margin: 40px auto;
}
div.productReviewTopPart{
    border: 1px solid #DFDFDF;
}
a.productReviewTopPartSelectedLink{
    padding: 0px 20px;
    color: #333333;
}
 
span.productDetailTopReviewLinkNumber{
    color: #3355B9;
}
.productParamterPart{
    border: 1px solid #DFDFDF;
    padding: 40px;
}
.productParamter{
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
}
.productParamterList span{
    display: block;
    width: 220px;
    float: left;
    padding: 8px 0px;
    color: #666666;
}
.productDetailImagesPart img{
    display: block;
    width: 790px;
    margin:20px 0px;
}
.productReviewContentPart{
    padding-top: 50px;
}
.productReviewItem{
    border-bottom: 1px solid #E3E3E3;
    margin: 10px 0px;
}.productReviewItem div.productReviewItemDesc{
    width: 80%;
    display: inline-block;
    color: #333333;
    margin: 5px 20px;
    float: left;
}
.productReviewItemDate{
    margin: 15px 0px 0px 0px;
    color: #CCCCCC;
}
.productReviewItem div.productReviewItemUserInfo{
    color: #404040;
    margin: 5px 20px;
    padding: 20px 0;
}
span.userInfoGrayPart{
    color: #999999;
}
#cartDiv{
	max-width: 1013px;
	margin: 10px auto;
	color: black;
}
.cartTitlePrice{
	color: #C40000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}
.cartTitle button{
	background-color: #AAAAAA;
	border: 1px solid #AAAAAA;
	color: white;
	width: 53px;
	height: 25px;
	border-radius: 2px;
}
span.cartTitlePrice{
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}
div.cartFoot{
    background-color: #E5E5E5;
    line-height: 50px;
    margin: 20px 0px;
    color: black;
    padding-left: 20px;
}
div.cartFoot button{
    background-color: #AAAAAA;
    border: 0px solid #AAAAAA;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
img.cartProductItemIfSelected, img.selectAllItem{
    cursor: pointer;
}
span.cartSumNumber{
    color: #C40000;
    font-weight: bold;
    font-size: 16px;
}
span.cartSumPrice{
    color: #C40000;
    font-weight: bold;
    font-size: 20px;
}
table.cartProductTable{
    width: 100%;
    font-size:12px;
}
tr.cartProductItemTR{
    border: 1px solid #CCCCCC;
}
tr.cartProductItemTR td{
    padding: 20px 20px;
}
table.cartProductTable th{
    font-weight: normal;
    color: #3C3C3C;
    padding: 20px 20px;
}
img.cartProductImg{
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 80px;
}
.selectAndImage{
    width:150px;
}
.operation{
    width:65px;
}
div.cartProductLinkOutDiv{
    position: relative;
    height: 80px;
}
a.cartProductLink{
    color: #3C3C3C;
}
a.cartProductLink:hover{
    color: #C40000;
    text-decoration: underline;
}
div.cartProductLinkInnerDiv{
    position: absolute;
    bottom: 0;
    height: 20px;
}
span.cartProductItemOringalPrice{
    text-decoration: line-through;
    color: #9C9C9C;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
span.cartProductItemPromotionPrice{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}
.cartProductChangeNumberDiv{
    border: solid 1px #E5E5E5;
    width: 80px;
}
div.cartProductChangeNumberDiv a{
    width: 14px;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}
div.cartProductChangeNumberDiv input{
    border: solid 1px #AAAAAA;
    width: 42px;
    display: inline-block;
}
span.cartProductItemSmallSumPrice{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}
#boughtDiv{
	max-width: 1013px;
    margin: 10px auto;
}
#orderType div{
	border-bottom: 2px solid #E8E8E8;
    float: left;
}
#orderType a{
	border-right: 1px solid #E8E8E8;
    display:inline-block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-decoration: none;
}
#orderType a:hover{
    color: #C40000;
    text-decoration: none;
}

.orderTypeLastOne{
    overflow: hidden;
    float: none !important;
    border-bottom: 2px solid #E8E8E8;
    height:34px;
}

.noRightborder{
    border-right-width:0px !important;
}
#orderListTitleTable{
    border: 1px solid #E8E8E8;
    width: 100%;
    margin: 20px 0px;
    background-color: #F5F5F5;
    text-align: center;
    font-size:12px;
}
#orderListTitleTable td{
    padding: 12px 0px;
}
.orderListItemTable{
    border: 2px solid #ECECEC;
    width: 100%;
    margin: 20px 0px;
    font-size:12px;
}
#orderType .selectedOrderType{
	border-bottom:2px solid #C40000;
}
#orderType .selectedOrderType a{
    color: #C40000;
}
table.orderListItemTable:hover{
    border: 2px solid #aaa !important;
}
table.orderListItemTable td{
    padding: 8px 10px;
}
tr.orderListItemFirstTR{
    background-color: #F1F1F1;
}
div.orderItemWangWangGif{
    display: inline-block;
    width: 67px;
    height: 22px;
    background-image:url(/webdemo/FountModule/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -0px -0px;
    position: relative;
    top: 0px;
    left: 2px;
}
td.orderItemDeleteTD{
    text-align: right;
}
span.orderListItemDelete{
    display: inline-block;
    margin: 0px 10px;
    color: #999999;
    font-size: 16px;
}
div.orderListItemProductLinkOutDiv{
    position: relative;
    height: 80px;
}
div.orderListItemProductLinkInnerDiv{
    position: absolute;
    bottom: 0px;
}
div.orderListItemProductOriginalPrice{
    color: #999999;
    font-size: 14px;
}
div.orderListItemProductPrice{
    color: #3C3C3C;
    font-size: 14px;
}
td.orderListItemNumberTD{
    text-align: center;
}
td.orderItemOrderInfoPartTD{
    border: solid 1px #ECECEC;
}
span.orderListItemNumber{
    color: #3C3C3C;
}
td.orderListItemProductRealPriceTD{
    text-align: center;
}
div.orderListItemProductRealPrice{
    color: #3C3C3C;
    font-size: 14px;
    font-weight: bold;
}
div.orderListItemPriceWithTransport{
    color: #6C6C6C;
    font-size: 12px;
}
td.orderListItemButtonTD{
    text-align: center;
}
button.orderListItemReview{
    border: 1px solid #DCDCDC;
    background-color: #fff;
    border-radius: 2px;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
}
button.orderListItemReview:hover{
    border-color: #C40000;
    color: #C40000;
}
button.orderListItemConfirm{
    background-color: #66B6FF;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-width: 0px;
    padding: 6px 12px;
}
button.orderListItemConfirm:hover{
    background-color: #118ADB;
}
#buyPageDiv{
    margin: 20px auto;
    max-width: 1013px;
}
div.address{
    margin: 20px 5px;
    text-align: left;
}
div.addressTip, div.productListTip{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
table.addressTable{
    margin: 20px 20px;
    width: 600px;
    font-size:12px;
}
table.addressTable td{
    color: #333333;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    text-align: left;
    height: 30px;
}
table.addressTable td.firstColumn{
    width: 100px;
}
table.addressTable td textarea{
    border: 1px solid #AFAFAF;
    margin-bottom: 10px;
    width: 400px;
}
table.addressTable td input{
    border: 1px solid #AFAFAF;
    width: 200px;
}
span.redStar{
    color: red;
    font-size: 8px;
}
.productListTable{
    width: 100%;
    border-collapse: separate;
    font-size:12px;
}
.productListTable th{
    color: #999999;
    font-family: 宋体;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}
.productListTable tr.rowborder td{
    background-color: #b2d1ff;
    border-right: 2px solid #fff;
    height: 3px;
}
.productListTableFirstColumn{
    text-align: left !important;
}
.tmallbuy{
    width: 15px;
}
.marketLink{
    color: black;
    font-size: 12px;
    font-family: 宋体;
    font-weight: normal;
}
.marketLink:hover{
    color: black;
    font-size: 12px;
    text-decoration: underline;
    font-family: 宋体;
    font-weight: normal;
}
span.wangwangGif{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url(/webdemo/FountModule/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -83px -0px;
    position: relative;
    top: 8px;
    left: 2px;
}
.productListTableTbody td{
    text-align: center;
}
.productListTableTbody td.orderItemFirstTD{
    text-align: left;
}
tr.orderItemTR td{
    border-bottom: 1px solid #E5E5E5;
}
tr.orderItemTR td{
    padding: 10px 0px;
}
img.orderItemImg{
    width: 50px;
    height: 50px;
    border: 1px solid #E9E9E9;
}
td.orderItemProductInfo{
    text-align:left !important;
}
td.orderItemProductInfo img{
    height: 16px;
}
a.orderItemProductLink{
    color: #666666;
    display: block;
}
a.orderItemProductLink:hover{
    color: #666666;
    text-decoration: underline;
}
span.orderItemProductPrice, span.orderItemProductNumber{
    color: #000000;
}
span.orderItemUnitSum{
    color: #CC0000;
    font-weight: bold;
}
td.orderItemFirstTD, td.orderItemLastTD{
    border-bottom: 0px solid black !important;
}
label.orderItemDeliveryLabel{
    color: #666666;
    font-family: 宋体;
    font-size: 12px;
    font-weight: normal;
}
select.orderItemDeliverySelect{
    width: 100px;
    height: 23px;
}
div.orderItemSumDiv{
    padding: 20px;
    border-top: 2px solid #B4D0FF;
    background-color: #F2F6FF;
    height: 50px;
}
div.orderItemSumDiv span{
    color: #999999;
}
span.leaveMessageText{
    display: inilne-block;
    margin-right: 10px;
    float: left;
}
div.orderItemTotalSumDiv{
    margin: 40px;
    height: 40px;
}
div.submitOrderDiv{
    height: 40px;
    margin: 20px 0px;
}
div.orderItemTotalSumDiv span{
    color: #999999;
}
span.orderItemTotalSumSpan{
    color: #C40000 !important;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px dotted #F2F6FF;
}
button.submitOrderButton{
	letter-spacing:5px;
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    float: right;
    display:inline-block;
    margin:0px 10px;
    width:180px;
    height: 40px;
}
#registerDiv{
margin: 10px 20px;
text-align: center;
color: #3C3C3C;
    font-size: 16px;
    }
#registerDiv #submit{
	width: 170px;
    height: 36px;
    border-radius: 2px;
    color: white;
    background-color: #C40000;
    border-width: 0px;
}
#registerDiv input{
	margin-top: 30px;
	border: 1px solid #DEDEDE;
    width: 213px;
    height: 36px;
    font-size: 14px;
    margin-left: 30px;
}
#registerDiv span{
	font-weight: bold;
}
.loginBackgroundImg{
    display: block;
    margin: 0px auto;
}
/*login.jsp*/
.redButton{
    color: white;
    background-color: #C40000;
    font-size: 14px;
    font-weight: bold;
}
.loginInput input{
    display: inline-block;
    border: 0px solid transparent;
    width: 249px;
    height: 40px;
    position: relative;
    left: 6px;
    top:1px;
}
.loginInput input:FOCUS{
	outline: none;
}
#loginSmallDiv{
    background-color: white;
    position: absolute;
    right: 80px;
    top: 180px;
    width: 350px;
    height: 400px;
    padding: 60px 25px 80px 25px;
}
div.login_acount_text{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
}
div.loginInput{
    border: 1px solid #CBCBCB;
    margin: 20px 0px;
}
div.loginInput span.loginInputIcon{
    margin: 0px;
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
    display:inline-block;
}
span.loginInputIcon span.glyphicon{
    font-size: 22px;
    position: relative;
    left: 9px;
    top: 9px;
    color: #606060;
}
#loginSmallDiv .alert{
	height:24px;
	padding-top:5px;
	padding-button:5px;
}
.modal-content{
	width: 400px;
}
.loginDivInProductPage{
	margin:20px auto;
	width: 300px;
}
#searchProducts{
	padding: 0px 20px 40px 20px;
	max-width: 1013px;
    margin: 30px auto;
}
/*支付页面*/
div.aliPayPageDiv{
    text-align: center;
    padding-bottom: 40px;
    max-width: 1013px;
    margin: 10px auto;
}
div.aliPayPageLogo{
    margin: 20px;
}
span.confirmMoneyText{
    color: #4D4D4D;
}
span.confirmMoney{
    display: block;
    color: #FF6600;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
button.confirmPay{
    background-color: #00AAEE;
    border: 1px solid #00AAEE;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 107px;
    margin-top: 20px;
}
/*支付完成界面*/
div.payedDiv{
    border: 1px solid #D4D4D4;
    max-width: 1013px;
    margin: 10px auto 20px auto;
}
div.payedTextDiv{
    height: 61px;
    background-color: #ECFFDC;
    padding: 17px 0px 0px 25px;
}
div.payedTextDiv span{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}
div.payedAddressInfo{
    padding: 26px 35px;
}
div.payedAddressInfo li{
    background-image:url(http://how2j.cn/tmall/img/site/li_dot.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: 0px 13px;
    list-style-type: none;
    color: #333333;
    padding-left: 15px;
    padding-top: 5px;
}
span.payedInfoPrice{
    color: #B10000;
    font-weight: bold;
    font-size: 14px;
    font-family: arial;
}
div.paedCheckLinkDiv{
    margin-left: 38px;
}
a.payedCheckLink{
    color: #2D8CBA;
}
a.payedCheckLink:hover{
    color: #2D8CBA;
    text-decoration: underline;
}
div.payedSeperateLine{
    border-top: 1px dotted #D4D4D4;
    margin: 0px 31px;
}
div.warningDiv{
    margin: 23px 45px;
    color:black;
}
div.confirmPayPageDiv {
    max-width: 1013px;
    margin: 10px auto;
}
 
div.confirmPayImageDiv {
    margin: 40px auto 80px auto;
    width: 900px;
    position: relative;
}
 
div.confirmPayImageDiv div {
    color: #999999;
}
 
div.confirmPayTime1 {
    position: absolute;
    top: 100px;
    left: -20px;
}
 
div.confirmPayTime2 {
    position: absolute;
    top: 100px;
    left: 190px;
}
 
div.confirmPayTime3 {
    position: absolute;
    top: 100px;
    left: 400px;
}
 
div.confirmPayOrderInfoText {
    margin: 10px 10px 0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADC8E6;
}
 
div.confirmPayOrderItemDiv {
    margin: 0px 20px;
}
 
div.confirmPayOrderItemText {
    margin: 20px 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
 
table.confirmPayOrderItemTable thead {
    background-color: #E8F2FF;
    height: 33px;
}
 
table.confirmPayOrderItemTable tr {
    border: 1px solid #DDDDDD;
}
 
table.confirmPayOrderItemTable {
    border: 1px solid #DDDDDD;
    width: 100%;
}
 
span.conformPayProductPrice {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
 
table.confirmPayOrderItemTable th, table.confirmPayOrderItemTable td {
    text-align: center;
}
 
table.confirmPayOrderItemTable td {
    padding: 20px;
}
 
td.confirmPayOrderItemProductLink {
    text-align: left !important;
}
 
div.confirmPayOrderItemText {
    color: black;
    font-weight: normal;
}
 
span.confirmPayOrderItemSumPrice {
    color: #C40000;
}
 
table.confirmPayOrderDetailTable {
    width: 100%;
    border-top: 1px solid #DDDDDD;
}
 
table.confirmPayOrderDetailTable td {
    padding: 8px;
    color: black;
    font-size: 14px;
}
 
div.confirmPayOrderDetailDiv {
    margin: 40px;
}
 
span.confirmPayOrderDetailWangWangGif {
    display: inline-block;
    width: 67px;
    height: 22px;
    background-image: url(http://how2j.cn/tmall/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -0px -0px;
    position: relative;
    top: 0px;
    left: 2px;
}
 
div.confirmPayButtonDiv {
    border: 1px solid #F58B0F;
    margin: 20px;
}
 
div.confirmPayWarning {
    margin: 20px 80px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}
 
button.confirmPayButton:hover {
    background-color: #F6AE30;
}
 
button.confirmPayButton {
    margin: 20px 80px;
    width: 67px;
    height: 30px;
    border: 1px solid #E67C00;
    background-color: #F4A21D;
    border-radius: 4px;
    color: white;
}
div.orderFinishDiv {
    border: 1px solid #E5E5E5;
    padding: 40px;
    max-width: 1013px;
    margin: 10px auto;
}
 
div.orderFinishDiv span {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 20px;
}
div.reviewDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.reviewProductInfoImg{
    border: 1px solid #E7E7E7;
    width: 464px;
    text-align: center;
    float: left;
}
div.reviewProductInfoRightDiv{
    overflow: hidden;
    border-top: 1px solid #E7E7E7;
    padding: 30px 20px;
}
div.reviewProductInfoRightText{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
table.reviewProductInfoTable{
    margin: 20px 10px;
    font-size:12px;
}
table.reviewProductInfoTable td{
    padding-bottom: 5px;
    color: #999999;
}
span.reviewProductInfoTablePrice{
    color: #C40000;
    font-size: 20px;
    font-weight: bold;
}
span.reviewProductInfoTableSellNumber{
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
}
div.reviewProductInfoRightBelowDiv{
    border: 1px solid #F6F5F3;
    background-color: #FDFBFA;
    height: 166px;
    padding:16px 0px 16px 81px;
}
span.reviewProductInfoRightBelowImg{
    background-color: white;
    border: 1px solid #E1E1E1;
    display: inline-block;
    width: 23px;
    height: 42px;
    background-image:url(http://how2j.cn/tmall/img/site/reviewLight.png);
    background-repeat: no-repeat;
    padding: 0px;
}
span.reviewProductInfoRightBelowText{
    border: 1px solid #EFEFEF;
    display: inline-block;
    width: 200px;
    height: 42px;
    padding: 4px;
    position: relative;
    left: -4px;
    top: -7px;
    color: #666666;
    font-size:12px;
}
img.reviewProductImg{
    width:400px;
    height:400px;
}
div.reviewStasticsDiv{
    margin-top: 20px;
}
div.reviewStasticsLeft{
    width: 180px;
    float: left;
}
div.reviewStasticsLeftTop{
    background-color: #C40000;
    height: 6px;
}
div.reviewStasticsLeftContent{
    line-height: 29px;
    border-left: 1px solid #D5D4D4;
    border-right: 1px solid #D5D4D4;
    background-color: #F6F5F1;
    text-align: center;
    font-size: 14px;
    color: #363535;
    font-weight: bold;
}
div.reviewStasticsLeftFoot{
    height: 6px;
    border-left: 1px solid #D5D4D4;
    border-bottom: 1px solid #D5D4D4;
    background-color: #F6F5F1;
}
span.reviewStasticsNumber{
    color: #284CA5;
}
div.reviewStasticsRight{
    overflow: hidden;
}
div.reviewStasticsRightEmpty{
    height: 35px;
}
div.reviewStasticsFoot{
    background-color: #F6F5F1;
    border: 1px solid #D5D4D4;
    border-left-width: 0px;
    height: 6px;
}
div.makeReviewDiv{
    border: 1px solid #D1CCC8;
    margin: 20px 0px;
    background-color: #EFEFEF;
}
div.makeReviewText{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin: 20px 40px;
}
table.makeReviewTable{
	width:520px;
    margin: 20px 40px;
    font-size: 12px;
}
table.makeReviewTable td{
    border: 1px solid #E7E7E7;
    padding: 10px;
    background-color: white;
}
table.makeReviewTable textarea{
    border-width: 0px;
    resize: none;
    width: 420px;
    height: 120px;
}
td.makeReviewTableFirstTD{
	width:69px;
    background-color: #F6F6F6;
}
div.makeReviewButtonDiv{
    background-color: white;
    text-align: center;
    padding: 15px;
}
div.makeReviewButtonDiv button{
    width: 72px;
    height: 26px;
    border-radius: 2px;
    background-color: #C40000;
    color: white;
    border-width: 0px;
    font-weight: bold;
}